@import "~antd/dist/antd.css";
@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

div {
  font-family: "Noto Sans KR" !important;
}

th,
td {
  font-size: 50;
  white-space: break-spaces;
}
.App {
  width: 1300px;
  text-align: center;
  margin: 0 auto;
}

a {
  color: black;
  text-decoration: none;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

#root {
  width: 100%;
  height: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 1300px) {
  #root {
    width: 1300px;
  }
}
.now {
  color: blue;
}
a:link:hover {
  text-decoration: underline;
}
a:hover {
  color: black;
}

.container {
  border: 1px solid #444444;
  margin-top: 5px;
  margin-bottom: 5px;
  text-align: center;
  width: 1500px;
  height: 100%;
}

.input_area {
  margin-bottom: 10px;
}

.input_area label {
  display: block;
  margin-bottom: 10px;
}

.input_area input {
  width: 400px;
  height: 40px;
  font-size: 30px;
  padding: 0 10px;
}

.input_area select {
  width: 400px;
  height: 40px;
  font-size: 30px;
}

.search_box {
  display: flex;
  flex-direction: row;
}

.page_box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.favorite_btn_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 250px;
}
.loginButton {
  color: white;
}
.detail_wrap {
  margin: 0 auto;
  margin-bottom: 10px;
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.edit_button_wrap {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.detail {
  width: 1200px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  text-align: left;
  overflow-y: hidden;
  height: auto;
  word-break: break-all;
  min-height: 300px;
}

.detail img {
  max-width: 1000px;
}
.detail p {
  word-break: break-all;
  margin: 0px;
}
.favorite_list {
  word-break: break-all;
  border: 1px solid #dadada;
  height: auto;
  box-sizing: border-box;
  overflow-y: auto;
  min-height: 100px;
  max-height: 200px;
  width: 250px;
  background-color: #f5f0f0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.Commentsbody {
  text-align: left;
  white-space: break-spaces;
  height: 40px;
}
.vote {
  border-color: black;

  border-width: thin;
  width: 250px;
  margin-top: 5px;
}

.vote-inline-graph {
  height: 32px;
  line-height: 32px;
  display: inline-block;
  color: #fff;
  font-weight: 500;
}

.vote-inline-graph.up {
  background-color: rgba(236, 106, 23);
  max-width: 90%;
  min-width: 10%;
  font-size: 8px;
}

.vote-inline-graph.down {
  background-color: rgba(27, 33, 47);
  max-width: 90%;
  min-width: 10%;
  font-size: 8px;
}

.warning {
  text-align: left;
}

.title {
  height: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.title:hover {
  border-color: #dadada;
  box-shadow: none;
}
.commentbox {
  height: 100px;
  width: 1300px;
  margin-bottom: 15px;
}

.toptop {
  width: 1300px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  background-color: #343a40;
  margin: 0 auto;
}

.DetailHeader {
  flex-direction: row;
  flex-flow: row wrap;
  display: flex;
  justify-content: space-between;
}
.TitleAuthor {
  margin-bottom: 10px;
  flex-direction: row;
  flex-flow: row wrap;
  display: flex;
  justify-content: space-between;
}
.TitleName {
  text-align: left;
  margin-top: 10px;
}
.titledivider {
  margin: inherit;
}
.divider {
  margin: 8px 0;
}
.likeicon {
  color: rgba(236, 106, 23);
}
.onlikeicon {
  color: rgba(236, 106, 23);
}
.Like_count {
  margin-left: 2px;
  font-size: 14px;
  font-weight: 400;
}
.Like_count > span {
  margin-left: 3px;
  font-weight: 600;
}
.like_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}
.like {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: auto;
  height: auto;
  margin-left: 5px;
}

.recommenttable {
  border-bottom-width: 1px;
  border-top-width: 1px;
  border-left-width: 1px;
  border-right-width: 1px;
}
.commentlike {
  width: 70px;
}

.recommentTable {
  background-color: #f5f0f0;
}
.onlike {
  color: red;
}
.BigLike {
  height: auto;
  font-size: 20px;
}

.Main_LIST {
  width: 1050px;
  height: 100%;
  min-height: 100%;
  text-align: center;
}
.favorite {
  width: 270px;
  margin-left: 20px;
  text-align: center;
}

.main1 {
  display: flex;
  width: 1300px;
  height: 880px;
  margin: 0 auto;
}

.header-wrap {
  background-color: white;
  width: 1300px;
  height: 98px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.image_box {
  width: 198px;
  height: 98px;
  padding-top: 14px;
}
.login_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 360px;
}
.login_wrap {
  margin-top: 13px;
  width: 410px;
  height: 30px;
  display: flex;
  flex-direction: row;
  border: 1px solid #dadada;
  font-size: 13px;
}
.login_1 {
  width: 190px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.logout_btn {
  border: 0;
  width: 80px;
  background-color: #ff6d00;
  color: #fff;
  font-weight: 500;
  text-align: center;
  letter-spacing: -1px;
  cursor: pointer;
}
.logout_btn:last-child {
  width: 75px;
  background-color: #381e1f;
}

.login_image {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 27px;
  height: 28px;
  background-color: #eee;
  margin-right: 5px;
}
.footer {
  display: flex;
  justify-content: center;
  height: 170px;
  background: #343a40;
  color: white;
  font-size: 12px;
}
.footer-info {
  margin-top: 40px;
  height: 110px;
}
.footer-img {
  margin-right: 20px;
  margin-top: 50px;
}
.ql-tooltip {
  left: 400px !important;
  top: -50px !important;
  margin: 0 !important;
}
.ql-editor .ql-video {
  display: block;
  min-height: 300px;
  min-width: 500px;
  max-width: 900px;
}
.ql-snow .ql-editor img {
  display: inline-block;
  max-width: 1000px;
}
.quill-editor iframe {
  pointer-events: none;
}
.ql-toolbar {
  display: flex;
  text-align: left;
  background: #eaecec;
}

.ql-container {
  min-height: 10em;
  background: #fefcfc;
  border: 1px solid #ccc;
  border-top: 0;
}
.quill-editor iframe {
  pointer-events: none;
}
.ql-editor p {
  word-break: break-all;
  margin: 0px;
}
.loading {
  font-size: 45px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 0 9999px;
  position: absolute;
  top: 50%;
  left: 50%;
}
.chart {
  width: 255px;
  height: 125px;
}
#red {
  color: red;
}
.Topbanner {
  height: 120px;
  background-color: black;
}
.close {
  width: 40px;
  height: 40px;
  background-color: red;
}

.outer {
  position: relative;
  margin: auto;
  width: 70px;
  cursor: pointer;
}

.inner {
  width: inherit;
  text-align: center;
}

.label {
  font-size: 0.8em;
  line-height: 4em;
  text-transform: uppercase;
  color: #fff;
  transition: all 0.3s ease-in;
  opacity: 0;
  cursor: pointer;
}
.topbanner_image {
  position: relative;
}
.Topbanner > a {
  display: block;
  font-size: 0;
  cursor: pointer;
}
.topbanner_image .close_button {
  position: absolute;
  right: 4px;
  z-index: 2;
  margin-top: 35px;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background: url("../src/img/icon-close-white.png") no-repeat center center;
  background-size: 50% auto;
}
.close_button:hover {
  background-color: #fff;
  background-image: url("../src/img/icon-close.png");
}
.seach_icon {
  margin-right: 5px;
  width: 21px;
  height: 21px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: #d1d7e5;
  border: 1 px solid rgba(0, 0, 0, 0.04);
}
.ant-btn-primary {
  background: white;
  color: black;
}
.ant-input-search
  > .ant-input-group
  > .ant-input-group-addon:last-child
  .ant-input-search-button {
  padding-top: 0;
  padding-bottom: 5px;
  border-color: #d9d9d9;
}
.ant-btn-primary:hover,
.ant-btn-primary:focus {
  color: #40a9ff;
  border-color: #40a9ff;
  background-color: white;
}
.ant-btn:hover,
.ant-btn:focus {
  color: rgba(236, 106, 23);
  background: #fff;
  border-color: rgba(236, 106, 23);
}
.ant-pagination-item-active {
  font-weight: 500;
  background: #fff;
  border-color: rgba(236, 106, 23);
}
.ant-pagination-item:hover {
  border-color: rgba(236, 106, 23);
}
.ant-pagination-prev:hover .ant-pagination-item-link,
.ant-pagination-next:hover .ant-pagination-item-link {
  color: rgba(236, 106, 23);
  border-color: rgba(236, 106, 23);
}

.ant-input:focus,
.ant-input-focused {
  border-color: #dadada;
  border-right-width: 1 px !important;
  outline: 0;
  box-shadow: 0 !important;
}
.ant-input-search .ant-input:hover,
.ant-input-search .ant-input:focus {
  border-color: #dadada;
  box-shadow: none;
}
.my_list {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.my_list:hover {
  font-weight: 600;
}
.commnet_count {
  margin-left: 5px;
  font-weight: 600;
}
.comment_box {
  margin-top: 5px;
  margin-left: 7px;
  margin-bottom: 15px;
  border-top: 1px solid #dadada;
}
.comment_wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 5px;
}
.comment_delete {
  font-size: 12px;
  margin-left: 3px;
}
.report_btn {
  color: red;
  margin-left: 5px;
}
.recomment_box {
  border-top: 1px solid #dadada;
  padding-top: 6px;
}
.event_box {
  width: 340px;
}
.news_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
  border-bottom: 1px solid #dadada;
}
.animated-text {
  margin-left: 3px;
  height: 60px;
  overflow: hidden;
}
.news {
  z-index: 100;
  margin-left: 3px;
  background: white;
  border-left: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
}
.line {
  text-align: start;
  font-size: 13px;
  width: 317px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line2 {
  text-align: start;
  font-size: 13px;
  width: 317px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.line:first-child {
  animation: anim 12s infinite;
}

@keyframes anim {
  48% {
    margin-top: 0px;
  }
  50% {
    margin-top: -40px;
  }
  98% {
    margin-top: -40px;
  }
  100% {
    margin-top: 0px;
  }
}
.ant-btn-primary {
  border-color: #dadada;
}
.search_history {
  width: 1015px;
}
.historybox {
  width: 941px;
  height: 185px;
  margin-left: 76px;
  border-left: 1px solid #dadada;
  border-bottom: 1px solid #dadada;
  border-right: 1px solid #dadada;
}
.history_wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}
.date_span {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: grey;
}
.history_wrap:hover {
  background-color: #f9fafb;
  cursor: pointer;
}
.ant-pagination-jump-prev
  .ant-pagination-item-container
  .ant-pagination-item-link-icon,
.ant-pagination-jump-next
  .ant-pagination-item-container
  .ant-pagination-item-link-icon {
  color: black;
}
.favorite_check_div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.favorite_check {
  margin-left: 20px;
  font-size: 16px;
  margin-top: -10px;
}
.favorite_check_div .MuiInput-underline:after {
  border-bottom: 2px solid black;
}
.favorite_input .MuiInput-underline:after {
  border-bottom: 2px solid black;
}
.report_modal .ant-modal-title {
  color: red;
  font-size: 18px;
  font-weight: 700;
}
.report_modal .ant-modal-header,
.report_modal .ant-modal-body,
.report_modal .ant-modal-footer {
  background-color: rgba(246, 246, 246);
}
.report_modal .ant-modal-body .report_content {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 470px;
}
.desk-visual {
  height: 200px;
  background-image: url(../src/img/bg-desk.jpg);
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}
.deskbasewrap {
  background-repeat: no-repeat;
  background-image: url(../src/img/desk-analysis.png);
  background-position: 710px 130px;
  height: 200px;
  width: 1300px;
  margin: 0 auto;
}
.basewrap-text {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 100px;
  left: 20px;
  top: 30px;
}
.basewrap-text > span {
  margin-left: 3px;
  font-weight: 300;
  font-size: 13px;
}
